:root {
    --color-dark: #23424a;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-dark);
    margin: 0;
}

.container {
    padding: 50px 0;
}

.content {
    width: 50%;
    max-width: 750px;
    margin: 0 auto;
}

.content h1 {
    font-family: 'Roboto Black', sans-serif;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0;
}

.content p {
    font-size: 1.4rem;
    line-height: 1.4em;
    color: #aaa;
    margin-bottom: 3.5em;
}

.btn {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .125rem;
    color: var(--color-dark);
    background-color: #38cfd9;
    border-radius: 6rem;
    padding: .85em 2.25em;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    box-shadow: 2px 4px 11px 0 rgba(0,0,0,.4)
}